// inner container size
$inner_container_max_size: 1460px;

// colors
$white: #ffffff;
$darkblue: #184979;
$graytext: #6c6c78;
$lightblue: #1298d2;
$darktext: #2c2c37;
$shaded: #566a8a;
$fineshade: #f7f7f8;
$fineshadedark: #efeff2;
$placeholdercolor: #b4b7d4;

// font families
$montserat: 'Montserrat', sans-serif;
$segoe: 'Segoe UI', sans-serif;

// font weights
$regular: 400;
$medium: 500;
$semibold: 600;

// font sizes
$bigheadersize: 70px;

// media sizes
$tabletsize: 1024px;
$mobilesize: 650px;
